<form action="/create" method="post" class="mt-3">
    <h2>Create TODO</h2>
    <div class="mt-3">
        <input type="text" class="form-control" name="title" id="todo-title" placeholder="Todo title">
        <button type="submit" class="btn btn-secondary mt-2">Submit</button>
    </div>
</form>
