<h2>Todos page</h2>

{{#if todos.length}}
<ul class="list-group">
    {{#each todos}}
    <li class="list-group-item todo">
        <label>
            {{#if completed}}
            <input checked type="checkbox">
            <span class="completed" >{{title}}</span>
            {{else}}
            <input type="checkbox">
            <span>{{title}}</span>
            {{/if}}


            <button class="btn btn-secondary">Save</button>
        </label>
    </li>
    {{/each}}
</ul>
{{else}}
<p>No todos!</p>
{{/if}}